@import 'components/breadcrumb';
@import 'components/color';
@import 'components/commerce/index';
@import 'components/group-item';
@import 'components/info-panel';
@import 'components/navbars';
@import 'components/sidebar';
@import 'components/table';
@import 'components/widget';
@import 'portlet/portlet';
@import 'portlet/portlet_decorators';

@import 'custom_properties/custom_properties_set';

@import 'plugins/theme_variables';
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.woff2") format("woff2"),url("../fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.woff2") format("woff2"),url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Thin.woff2") format("woff2"),url("../fonts/Roboto-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "Droid Arabic Kufi";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DroidKufi-Regular.eot");
    src: url("../fonts/DroidKufi-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/DroidKufi-Regular.woff2") format("woff2"),url("../fonts/DroidKufi-Regular.woff") format("woff"),url("../fonts/DroidKufi-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Droid Arabic Kufi";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/DroidKufi-Bold.eot");
    src: url("../fonts/DroidKufi-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/DroidKufi-Bold.woff2") format("woff2"),url("../fonts/DroidKufi-Bold.woff") format("woff"),url("../fonts/DroidKufi-Bold.ttf") format("truetype")
}

.container-fluid {
	max-width: calc(100% - 120px);
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-pre-loader-bg);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none !important;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
html{
	font-size: 16px;
}
body {
	font-family: "Roboto",sans-serif;
	header {
		background-color:var(--color-theme-bg);
		.field-wrapper {
			position: absolute;
			right: 4px;
			top: 2px;

			a {
				color: #fff;
			}
		}

		.field-wrapper,
		.form-group {
			margin-bottom: 0;
		}

		.portlet {
			margin-bottom: 0;

			&:hover {
				z-index: 1034;
			}
		}

		.search-input {
			font-size: 0.88rem;
			padding: 0.28rem 2rem 0.28rem 1rem;
		}

		.text-default {
			color: #6b6c7e;
			font-weight: 600;
		}

		.user-personal-bar {
			.fieldset {
				position: relative;
			}

			.user-avatar-link .panel-notifications-count {
				right: calc(100% - 0.75rem);
				top: -0.35rem;
			}
		}
	}

	.user-avatar-link {
		display: block;
		position: relative;

		.panel-notifications-count {
			display: block;
			margin: 0;
			max-width: none;
			position: absolute;
			right: calc(100% - 0.7rem);
			top: -0.4rem;
		}

		.text-default {
			align-items: center;
			display: flex;

			.user-full-name {
				margin-left: 0.5rem;

				@include media-breakpoint-down(xs) {
					display: none;
				}
			}
		}
	}
}
.modal-dialog {
	.modal-content {
		background-color: var(--color-theme-bg);
		.modal-header {
			i {
				font-size: 2rem;
				color: var(--color-modal-close);
			}
			border-bottom: none;
			text-align: center;
			.modal-title {
				font-size: 2rem;
				color: var(--color-modal-title);
			}
		}
		.modal-body {
			border: none;
			h3 {
				color: var(--color-modal-body-title);
				font-weight: normal;
			}
		}
		.modal-footer {
			border: none;
			justify-content: end;
			
			button{
				background-color: transparent;
				color: var(--color-modal-footer);
				border-color: var(--color-modal-footer-border);
				font-weight: normal;
				font-size: 1.1rem;
				&:hover{
					background-color:  var(--color-modal-footer-hover);
					color:  var(--color-modal-footer-hover-text);
				}
				&.active{
					background-color:  var(--color-modal-footer-hover);
				}
			}
		}
	}
}
.colorBtn {
	
	button {
		width: 77px;
		border: 1px solid #333;
		margin: 0 10px;
		height: 40px;
		border-radius: 12px;
		position: relative;
		
		&.color1 {
			background: #76ae8c;
			&:before{
				background-color: #315679;
			}
		}
		&.color2 {
			background: #f3e3cd;
			&:before{
				background-color: #718472;
			}
		}
		&.color3 {
			background: #c8a877;
			&:before{
				background-color: #968b83;
			}
		}
		&:before {
			content: "";
			width: 50%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		&.active {
			&:after {
				content: "";
				position: absolute;
				top: 10px;
				left: 25px !important;
				right: auto !important;
				width: 20px;
				height: 10px;
				border: 2px solid #fff;
				border-top: 0;
				border-right: 0;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}
.accessibilityBtn {
	button{
		margin: 0 10px;
		font-size: 24px;
		align-items: center;
		display: flex;
		width: 77px;
		height: 40px;
		justify-content: center;
		border: 1px solid var(--color-accessibilityBtn-boreder);
		color: var(--color-accessibilityBtn);
		border-radius: 12px;
		i {
			display: flex;
			&.fi-rr-minus,&.fi-rr-plus{
				font-size: 14px;
			}
		}
		&:hover{
			background-color:  var(--color-accessibilityBtn-hover);
			color: var(--color-accessibilityBtn-hover-text);
		}
		&.active{
			background-color:  var(--color-accessibilityBtn-hover);
			color: var(--color-accessibilityBtn-hover-text);
		}
	}
}
.modal-backdrop.show {
	opacity: var(--opacity-modal-popup);
	background-color: var(--color-modal-popup);
}
.alert-section {
	background-color: var(--color-alert-section-bg);
    padding: 15px 10px;
    min-height: 64px;
	
	.close-button-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		a {
			color: var(--color-alert-titlebox);
			font-size: 1.25rem;
			position: relative;
			top: 3px;
			text-decoration: none;
		}
	}
	.title-box {
	
		h3 {
			font-size: 1rem;
			margin-bottom: 0;
			color: var(--color-alert-titlebox);
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding-right: 0px;
			margin-right: 0px;
			border-right: 2px solid var(--color-alert-titlebox);
			margin-top: 5px;
			
			i {
				font-size: 1.25rem;
				margin-right: 10px;
			}
		}
	}
	.alert-message {
	
		.alert-slider {
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			
			.item-wrap {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				padding-top: 4px;
				
				p{
					color: var(--color-alert-text);
					font-weight: 300;
					margin: 0 10px;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					line-height: 1.5;
				}
			}
			
			.owl-nav {
				position: absolute;
				right: -80px;
				top: 8px;
				height: 20px;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				display: -webkit-inline-box;
				display: -ms-inline-flexbox;
				display: inline-flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				z-index: 3;
				
				button {
					width: 40px;
					display: -webkit-inline-box;
					display: -ms-inline-flexbox;
					display: inline-flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					
					&.disabled {
						opacity: .5;
						cursor: auto;
						pointer-events: none;
					}
				}
				i {
					font-size: 1.25rem;
					color: var(--color-owl-icon);
					margin: 0 10px;
					-webkit-transition-duration: 300ms;
					transition-duration: 300ms;
				}
				.owl-prev:hover i {
					-webkit-transform: scale(1.2);
					transform: scale(1.2);
				}
				.owl-next:hover i {
					-webkit-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
	}
}

header {
	&.header-section {
		.logo-menu-wrap {
			.first-line {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				padding: 0;
				margin: 10px auto;
				
				.logo-wrap {
					max-width: 336px;
					width: 50%;
					min-height: 100px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					
					.logo {
						width: auto;
						height: 100px;
					}
				}
				
				.uae-gov-logo {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					height: 100px;
					
					img {
						max-width: 64px;
						width: 100%;
					}
				}
			}
			.menu-box-wrapper {
				border-top: 1px solid var(--color-header-border);
				z-index: 1001;
				position: relative;
				
				.second-line {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: end;
					-ms-flex-pack: end;
					justify-content: flex-end;
					padding: 0;
					height: 60px;
					.portlet-user-personal-bar {
						margin-top: 8px;
						.lexicon-icon-user {
							color: var(--color-header-icon);
							background: var(--color-header-icon-bg);
							position: relative;
							width: 30px;
							height: 30px;
							display: -webkit-inline-box;
							display: -ms-inline-flexbox;
							display: inline-flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							justify-content: center;
							border-radius: 20px;
							-webkit-transition-duration: 300ms;
							transition-duration: 300ms;
							padding: 6px;
						}
						.taglib-icon-label {
							margin: 0 !important;
							font-weight: normal;
						}
					}
					nav {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						width: 100%;
						max-width: 100%;
						-webkit-box-pack: justify;
						-ms-flex-pack: justify;
						justify-content: space-between;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						
						.left-box {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							gap: 14px;
							position: static;
							
							.home-btn {
								color: var(--color-header-icon);
								background: var(--color-header-icon-bg);
								width: 30px;
								height: 30px;
								display: -webkit-inline-box;
								display: -ms-inline-flexbox;
								display: inline-flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								-webkit-box-pack: center;
								-ms-flex-pack: center;
								justify-content: center;
								border-radius: 20px;
								&:hover {
									background: var(--color-header-icon);
									color: var(--color-header-hover);
								}
							}
							.left-menu {
								display: -webkit-inline-box;
								display: -ms-inline-flexbox;
								display: inline-flex;
								list-style-type: none;
								padding: 0;
								gap: 14px;
								margin: 0;
								li {
									a {
										color: var(--color-header-link);
										position: relative;
										gap: 5px;
										text-decoration: none !important;
										&:hover {
											color: var(--color-header-link-hover);
											&:after {
												width: 100%;
											}
										}
										&:after {
											content: "";
											position: absolute;
											left: 0;
											bottom: -2px;
											width: 0;
											height: 2px;
											background: var(--color-header-after);
											-webkit-transition-duration: 300ms;
											transition-duration: 300ms;
										}
									}
									&.dropdown-list {
										&:hover,&.active {
											a::before {
												content: "";
												position: absolute;
												bottom: -21px;
												left: 50%;
												-webkit-transform: translateX(-50%);
												transform: translateX(-50%);
												width: 0px;
												height: 0px;
												border-left: 10px solid rgba(0,0,0,0);
												border-right: 10px solid rgba(0,0,0,0);
												border-bottom: 10px solid var(--color-header-hover-after);
												background: none;
												-webkit-transition-duration: 0s;
												transition-duration: 0s;
											}
											.megamenu {
												z-index: 10;
												visibility: visible;
												opacity: 1;
												-webkit-transition: opacity ease .3s;
												transition: opacity ease .3s;
											}
										}
										.megamenu {
											position: absolute;
											width: 100%;
											margin: 0 auto;
											left: 0;
											right: 0;
											opacity: 0;
											visibility: hidden;
											
											.menu-wrapper {
												background-color: var(--color-header-hover-after);
												border-radius: 10px;
												padding: 40px;
												color: #fff;
												margin-top: 18px;
												min-height: 250px;
												position: relative;
												&:after {
													content: "";
													position: absolute;
													width: 100%;
													height: 100%;
													left: 0;
													right: 0;
													top: 0;
													background-image: url(../images/theme/megamenu-bg.png);
													background-position: right center;
													background-repeat: no-repeat;
													background-size: cover;
												}
												.row {
													position: relative;
													z-index: 1;
												}
												.submenu-title{
													color: var(--color-sumenu-items);
												}
												.submenu-item {
													padding: 0;
													list-style: none;
													-webkit-column-count: 2;
													-moz-column-count: 2;
													column-count: 2;
													margin: 0;
													li {
														line-height: 40px;
														margin: 0;
														a {
															color: var(--color-sumenu-items);
															text-decoration: none;
															-webkit-transition-duration: 300ms;
															transition-duration: 300ms;
															&:hover {
																&:after {
																	background-color: var(--color-sumenu-items);
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						.right-box {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							
							.right-menu {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								list-style-type: none;
								-webkit-box-pack: end;
								-ms-flex-pack: end;
								justify-content: flex-end;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								padding: 0;
								gap: 15px;
								margin:0;
								
								.portlet-language {
									display: inline-flex;
									.portlet-content {
										border: none !important;
										
										.lfr-icon-menu {
											button {
												border: none;
												height: 19px;
												background: transparent;
												
												.inline-item {
													display: none;
												}
												.btn-section {
													margin-top: 6px;
													font-weight: normal;
													color: var(--color-header-icon);
												}
											}
										}
									}
								}
								li {
									a {
										display: -webkit-inline-box;
										display: -ms-inline-flexbox;
										display: inline-flex;
										-webkit-box-align: center;
										-ms-flex-align: center;
										align-items: center;
										color: var(--color-header-icon);
										gap: 10px;
										text-decoration: none;
										-webkit-transition-duration: 300ms;
										transition-duration: 300ms;
										
										i {
											color: var(--color-header-icon);
											background: var(--color-header-icon-bg);
											position: relative;
											width: 30px;
											height: 30px;
											display: -webkit-inline-box;
											display: -ms-inline-flexbox;
											display: inline-flex;
											-webkit-box-align: center;
											-ms-flex-align: center;
											align-items: center;
											-webkit-box-pack: center;
											-ms-flex-pack: center;
											justify-content: center;
											border-radius: 20px;
											-webkit-transition-duration: 300ms;
											transition-duration: 300ms;
										}
										span {
											position: relative;
											
											&:after {
												content: "";
												position: absolute;
												left: 0;
												bottom: -2px;
												width: 0;
												height: 2px;
												background: var(--color-header-icon);
												-webkit-transition-duration: 300ms;
												transition-duration: 300ms;
											}
										}
										&:hover {
											i {
												background: var(--color-header-icon);
												color: var(--color-header-hover);
											}
											svg {
												background: var(--color-header-icon);
												color: var(--color-header-hover);
											}
											span::after {
												width: 100%;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
#content{
	min-height: 800px;
	background-color:var(--color-theme-bg);
}
.btn-group + .info-panel {
	@include media-breakpoint-up(sm) {
		top: auto;
	}
}

footer {
	position: relative;
    background-color:var(--color-theme-bg) !important;
	font-size: 16px;
	.copyright-wrap {
		margin-top: 30px;
		.website-info {
			color: var(--color-website-info);
			text-align: center;
			p {
				margin-bottom: 20px;
			}
		}
		.arabic-text {
			font-family: "Droid Arabic Kufi","Poppins",sans-serif;
			a {
				color: var(--color-website-info);
			}
		}
		.copyright {
			color: var(--color-website-info);
		}
		.bottom-links {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			li {
				margin: 0 15px;
				position: relative;
				&:last-child::after {
					display: none
				}
				&:after {
					content: "";
					width: 5px;
					height: 2px;
					background: var(--color-footer-bottom-after);
					right: -18px;
					top: 11px;
					position: absolute;
				}
				a {
					padding: 5px 0;
					&:hover {
						&:after {
							width: 100%;
						}
					}
					&:after {
						content: "";
						position: absolute;
						left: 0;
						bottom: -2px;
						width: 0;
						height: 2px;
						background: var(--color-footer-bottom-link-after);
						-webkit-transition-duration: 300ms;
						transition-duration: 300ms;
					}
				}
			}
		}
		.first-sec {
			border-top: 1px solid var(--color-footer-line);
			border-bottom: 1px solid var(--color-footer-line);
			margin-bottom: 0;
		}
		.social {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			width: 90%;
			max-width: 270px;
			margin: auto;
			padding: 0;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			height: 100%;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			li {
				margin: 0;
				a {
					display: inline-block;
					i {
						&.fi-brands-facebook {
							color: var(--color-facebook);
						}
						&.fi-brands-twitter{
							color: var(--color-twitter);
						}
						&.fi-brands-instagram{
							color: var(--color-instagram);
						}
						&.fi-brands-linkedin{
							color: var(--color-linkedin);
						}
						&.fi-brands-youtube{
							color: var(--color-youtube);
						}
						&.fi-rr-rss{
							color: var(--color-rss);
						}
						&.fi-brands-acrobat{
							color: var(--color-acrobat);
						}
					}
					&:hover {
						-webkit-transform: scale(1.5);
						transform: scale(1.5);
					}
					&:before {
						content: none;
					}
					&:after {
						content: none;
					}
				}
			}
		}
		.hotline {
			height: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			gap: 6px;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			
			p {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				gap: 10px;
				margin: 0;
			}
			i {
				font-size: 1.125rem;
				color: var(--color-footer-hotline);
			}
			span {
				color: var(--color-footer-hotline);
			}
			a {
				font-weight: bold;
				color: var(--color-footer-hotline);
				position: relative;
				text-decoration: none;
				-webkit-transition-duration: 300ms;
				transition-duration: 300ms;
			}
		}
	}	
	.gov-links {
		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			gap: 20px;
			
			li {
				max-width: 90px;
				a {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					width: 100%;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					
					img {
						width: 100%;
						-webkit-transition-duration: 300ms;
						transition-duration: 300ms;
						position: relative;
					}
					&:hover {
						&:after {
							content: none;
						}
						img {
							-webkit-transform: scale(1.1) translate(0, 4%);
							transform: scale(1.1) translate(0, 4%);
						}
					}
					&.whatsapp {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-orient: horizontal;
						-webkit-box-direction: normal;
						-ms-flex-direction: row;
						flex-direction: row;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						margin-top: 10px;
						color: var(--color-whatsapp-font);
						i {
							color: var(--color-whatsapp);
							margin: 0 10px;
						}
					}
				}
				.call-action {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					padding-top: 10px;
					margin-top: 10px;
					border-top: solid 1px var(--color-footer-callaction-border);
					gap: 10px;
					a {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						gap: 5px;
						font-size: .75rem;
						color: var(--color-footer-callaction-link);
						padding: 0;
						margin: 0;
						-webkit-box-pack: start;
						-ms-flex-pack: start;
						justify-content: flex-start;
						white-space: nowrap;
						font-weight: bold;
						gap: 5px;
						i {
							background-color: var(--color-whatsapp);
							min-width: 18px;
							width: 18px;
							height: 18px;
							border-radius: 5px;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							justify-content: center;
							color: var(--color-whatsapp-text);
							margin: 0;
						}
					}
				}
				
			}
		}
	}
	ul {
		padding: 0;
		list-style-type: none;
		margin: 0;
		
		li {
			margin-bottom: 15px;
			
			a {
				color: var(--color-footer-link);
				position: relative;
				&:hover {
					color: var(--color-footer-link-hover);
					text-decoration: none;
					
					&:after {
						width: 100%;
					}
				}
				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: -2px;
					width: 0;
					height: 2px;
					background: var(--color-footer-link-hover);
					-webkit-transition-duration: 300ms;
					transition-duration: 300ms;
				}
			}
		}
	}
	h3 {
		font-size: 1rem;
		margin-bottom: 15px;
		font-weight: normal;
		color: var(--color-footer-h3);
		text-transform: uppercase;
		
		a {
			color: var(--color-footer-h3) !important;
			position: relative;
			text-decoration: none !important;
			-webkit-transition-duration: 300ms;
			transition-duration: 300ms;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 0;
				height: 2px;
				background: var(--color-footer-h3);
				-webkit-transition-duration: 300ms;
				transition-duration: 300ms;
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
	.first-sec {
		border-bottom: 1px solid var(--color-footer-border);
		margin-bottom: 40px;
		
		.counter {
			height: 70px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin: 0;
			
			span {
				color: var(--color-footer-visitor);
				margin: 0 5px;
				border: none;
				text-transform: none;
				font-size: 16px;
			}
			.count {
				font-weight: bold;
				color: var(--color-footer-visitor-bold);
			}
		}
		.download-app {
			height: 70px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin: 0;
			
			span {
				color: var(--color-footer-app);
			}
			a {
				color: var(--color-footer-app-link);
				font-size: 1.5rem;
				margin: 0 10px;
			}
		}
		.subscribe {
			position: relative;
			overflow: hidden;
			
			.subscribe-box {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				border-left: 1px solid var(--color-footer-border);
				border-right: 1px solid var(--color-footer-border);
				background-color: rgba(0,0,0,0);
				border-top: 0;
				border-bottom: 0;
				height: 70px;
				width: 100%;
				padding: 0 20px;
				font-weight: 300;
				color: var(--color-subscribe-box);
			}
			.send-btn {
				position: absolute;
				right: 0;
				top: 0;
				height: 70px;
				width: 120px;
				background: none;
				border: none;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				color: var(--color-send-btn);
				-webkit-transition-duration: 300ms;
				transition-duration: 300ms;
				
				span {
					padding: 0 10px;
				}
				&:hover {
					color: var(--color-send-btn-hover-bg);
					background: var(--color-send-btn);
				}
			}
		}
	}
	.ehs-logo-footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
		
		img {
			width: 100%;
			-webkit-transition-duration: 300ms;
			transition-duration: 300ms;
			position: relative;
			max-width: 300px;
		}
	}
}

.switch {
	display: flex;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    width: 64px;
    height: 32px;
    border-radius: 50em;
    padding: 3px 0;
    margin: auto;
	
	.switch__input {
		margin: 0;
		padding: 0;
		opacity: 0;
		height: 0;
		width: 0;
		pointer-events: none;
	}
	.switch__input:checked + .switch__label + .switch__marker {
		left: calc(100% - 32px);
	}
	.switch__input, .switch__label{
		position: absolute;
		left: 0;
		top: 0;
	}
	.switch__label {
		width: 60px;
		height: 32px;
		color: transparent;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: var(--color-checkbox-color-bg);
		border-radius: inherit;
		z-index: 1;
		transition: background 0.2s;
		margin: 0 !important;
	}
	.switch__marker {
		position: relative;
		background-color: var(--color-checkbox-color);
		width: 24px;
		height: 24px;
		border-radius: 50%;
		z-index: 2;
		pointer-events: none;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
		left: 5px;
		transition: left 0.2s;
		will-change: left;
	}
}